# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/

# ignore these plugins
wp-content/plugins/hello.php

.idea
wp-config.php
.htaccess

# ignore uploads
wp-content/uploads/
wp-content/cache/

