/*General*/

.owl-nav {
	display: none;
}

.page-title {
	padding: 30px 0;
}

.hero-image, .hero-image img {
	height: 300px;
}

.small-container {
	padding: 0 25px;
}

.wide-container {
	padding: 0 25px;
}

/*PAGE home*/

.home-top-banner {
	height: 850px;
}

.banner-content .heading {
	margin-right: 0;
}

.banner-content h1 {
	font-size: 36px;
	text-align: center;
}

.banner-content .second-heading {
	font-size: 16px;
	line-height: 24px;
	padding: 0 25px;
	text-align: center;
}

.heading-button-wrapper{
	justify-content: center;
	margin-bottom:30px
}

.heading .cta-button {
	padding: 15px 20px;
}

#wpcf7-f18-o1 input, #wpcf7-f18-o1 select {
	width: 96%;
}

#wpcf7-f18-o1 .wpcf7-form p:nth-child(2) label span, #wpcf7-f18-o1 .wpcf7-form p:nth-child(3) label span {
	width: 50%;
}

.wpcf7-form input[type="submit"] {
	width: 300px;
}

.services-container {
	flex-wrap: wrap;
    justify-content: center!important;
}

.single-service-container {
	width: 50%;
  margin: 15px;
	max-width: 400px;
}

.features {
	padding: 60px 0;
}

.features-container .single-feature {
	width: calc(50% - 15px);
}

.features-booking .cta-button {
	padding: 19px 112px;
}

.boxes {
	padding: 60px 0;
}

/*.single-box {
	height: 300px;
}*/

@media screen and (max-width: 870px) {
	.single-box .box-content img {
		max-width: 100%;
	}
}

.testimonials {
	padding: 60px 0;
}

.brochures {
	padding: 30px 15px 0;
}

/*PAGE about*/

.about-heading {
	min-width: 220px;
}

.principles {
	margin: 60px 0;
	padding: 30px 0;
}

.single-principle {
	margin-bottom: 20px;
}

.principles-container {
	padding: 0 25px;
}

.principles-button .cta-button {
	padding: 19px 190px;
}

.about-content-second {
	padding-bottom: 0;
}

.timeline {
	margin-bottom: 50px;
}

.timeline .left-part h4 {
	padding-left: 30px;
}

.timeline .left-part img {
	display: none;
}

/*PAGE staff*/

.staff-container {
	padding: 40px 25px;
}

.staff-members {
	flex-wrap: wrap;
	justify-content: space-around!important;
}

.single-member {
	width: 50%;
	text-align: center;
}

.staff-booking {
	margin-top: 50px;
}

/*PAGE recovery and reintegration*/

.text-block-800 {
	padding: 0 25px;
	margin: 40px auto 40px;
}

.text-block-800-consellors{
	margin: 0 auto 40px;
}

.recovery-booking .cta-button {
	padding: 19px 190px;
}

.gray-table {
	margin: 0 auto 50px;
	padding: 45px 50px;
}

/*PAGE 12 week*/

.twelve-week-text h4 {
	font-size: 24px;
	line-height: 32px;
}

.twelve-week-booking {
	margin: 0 auto 50px;
	max-width: 90%;
}

.twelve-week-booking .cta-button {
	padding: 19px 86px;
}

/*PAGE 24 hour*/

.twentyfour-hour-booking {
	margin-bottom: 50px;
}

.twentyfour-table {
	padding: 30px 0;
}

.twentyfour-community-container {
	flex-flow: column;
}

.twentyfour-table .left-part, .twentyfour-table .right-part {
	width: 100%;
}

.twentyfour-table .left-part {
	padding: 0;
	margin-bottom: 30px;
}

.community-image-container {
	text-align: center;
}

.community-image-container img {
	max-height: 400px;
}

.twentyfour-table h4 {
	text-align: center;
}

.book-block {
	height: 300px;
}

.book-block h4 {
	font-size: 30px;
}

.google-map {
	height: 300px;
}

/*PAGE stepdown*/

.stepdown-text {
	padding: 0 25px;
	margin: 40px auto;
}

.stepdown-table {
	width: 90%;
}

/*PAGE outreach*/ 

.outreach-info img {
	display: none;
}

.outreach-info-container {
	padding: 0;
	position: relative;
}

.outreach-info-container h4 {
	text-align: center;
}

.outreach-events {
	padding: 50px 0;
}

.single-outreach-event .right-part {
	padding: 20px;
}

.outreach-events-contact {
	margin: 60px auto 55px;
}

.outreach-events-contact .cta-button {
	padding: 19px 158px;
}

.outreach-events h6 {
	font-size: 20px;
	line-height: 30px;
}

/*PAGE community support*/

.community-support .sup-subheading {
	font-size: 20px;
	line-height: 30px;
}

.support-booking {
	margin-bottom: 50px;
}

.support-booking .cta-button {
	padding: 19px 151px;
}

/*PAGE training*/ 

.out-subheading, .training-subheading, .ref-subheading {
	font-size: 20px;
	line-height: 30px;
}

/*PAGE events*/ 

.out-subheading {
	margin-bottom: 0;
}

.upcoming-events {
	padding: 50px 0;
}

.single-event .event-name {
	font-size: 16px;
}

.single-event .event-details {
	padding: 20px;
}

/*PAGE contact us*/

.contact .small-container {
	justify-content: center!important;
}

.mobile-switcher {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

.mobile-switcher button:first-child {
	margin-right: 30px;
}

.switch-button {
	font-family: InterBold;
    font-size: 16px;
    color: #fff;
    padding: 10px 17px;
    background: #AAB2BD;
    border: none;
}

.switch-button:focus {
	outline: none;
}

.mobile-switcher button.active {
	background: #5AB9AC;
}

.book-visit-form {
	display: none;
}

/*PAGE referral*/

.referral-form-container {
	justify-content: center!important;
}

.provider-form {
	display: none;
}

.ref-subheading {
	margin-bottom: 0;
}

/*PAGE join our team*/

.join-team {
	flex-flow: column;
}

.vacancies {
	text-align: center;
	margin-bottom: 40px;
}

.join-team .contact-form-container {
	margin: auto;
}

/*FOOTER*/

.footer-top {
	flex-flow: column;
	padding: 20px 0;
}

.footer-controls {
	/*order: 1;*/
	/*display: flex;*/
	/*flex-flow: row;*/
	/*margin-bottom: 20px;*/
	width: 100%;
}

.footer-controls .buttons a:nth-child(3),
.footer-controls .buttons a:nth-child(4) {
	margin-bottom: 0;
}

.footer-controls .trustpilot {
	display: flex;
}

.footer-controls a {
	align-self: center;
}

.footer-info {
	order: 2;
}

.footer-info {
	flex-direction: column !important;
}

.footer-info .footer-contact {
	margin-left: 0;
	width: 100%;
	text-align: center;
}

.footer-info .footer-contact .trustpilot {
	text-align: center;
	margin: 15px 0 20px;
}

.footer-info .footer-contact .trustpilot iframe {
	margin-left: auto;
	margin-right: auto;
}

.footer-menu {
	width: 100%;
	text-align: center;
}

.footer-menu .sub-menu {
	display: block;
	left: 0px !important;
	width: 30% !important;
	background: white;
	border-radius: 8px;
}

.footer-menu .sub-menu li{
	padding: 10px;
}

.footer-menu .sub-menu li a{
	color: black !important;
}



 /*homepage*/

.banner-content {
	flex-flow: column;
}

/*online training and coaching pages*/

.training-info .text {
	flex-flow: column;
}

.training-info .left-text {
	margin-bottom: 48px;
}

.training-info .topics {
	flex-flow: column;
	align-items: center;
}

.about-bac .information {
	flex-flow: column;
	align-items: center;
}

.about-bac .information .text {
	padding: 0;
	max-width: none;
}

.about-bac .information .top-text {
	max-width: 90%;
	width: auto;
}

.about-bac .text-bar {
	max-width: 90%;
	width: auto;
}

.about-bac .choice-wrapper h2 {
	text-align: center;
}

.about-bac .choice-content {
	flex-flow: column;
	align-items: center;
}

.about-bac .block3 .text {
	flex-flow: column;
}

.about-bac .block3 .left-text {
	margin-bottom: 48px;
}

.about-bac .diagram {
	display: none;
}

/*landing page*/

.landing .block1 .text {
	max-width: 90%;
	padding: 36px 32px 32px;
}

.landing .block1 .text h2 {
	font-size: 32px;
	line-height: 44px;
	margin: 0 0 32px;
}

.landing .block2 .content {
	flex-flow: column;
	align-items: center;
}

.landing .block2 .content .text {
	padding: 0 25px;
}

.landing .block2 .content .text h4 {
	text-align: center;
}

.landing .block2 .content .left-text {
	margin-bottom: 32px;
}

.landing .block3 .benefits {
	justify-content: center;
}

.landing .block3 .single-benefit:nth-child(3),
.landing .block3 .single-benefit:nth-child(4),
.landing .block3 .single-benefit {
	margin: 0 25px 72px;
	text-align: center;
}

.landing .block4 .single-step {
	flex-wrap: wrap;
}

.landing .block4 .text {
	text-align: center;
	width: 100%;
	padding: 0 25px;
}

.landing .block4 .step-number {
	margin-right: 20px;
}

.landing .block4 .single-step .text {
	margin-top: 24px;
}

.landing .block4 .single-step .image-wrapper:after {
	content: none;
}

/*profile page*/

.profile {
	padding: 0 24px 50px;
}

.profile .divider {
	height: 1px;
	background: #C4C4C4;
	opacity: 0.2;
	margin-bottom: 40px;
}

.profile-container {
	flex-flow: column;
	margin-bottom: 0;
}

.profile-container.block1 {
	margin-bottom: 40px;
}

.profile .left {
	max-width: none;
}

.profile .right {
	max-width: none;
	min-width: auto;
}

.profile .heading {
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 16px;
}

.profile .text {
	font-size: 16px;
}

.profile .back-button {
	margin-bottom: 24px;
}

.profile .personal-info {
	flex-flow: column;
	margin-bottom: 48px;
}

.profile .avatar {
	text-align: center;
	margin: 0 0 24px;
}

.profile .avatar img {
	max-width: 128px;
}

.profile .personal-info .info {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.profile .rating {
	margin-bottom: 16px;
}

.profile .personal-info .name {
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 4px;
}

.profile .personal-info .actions {
	flex-flow: column;
}

.profile .personal-info .actions .price {
	margin: 0 0 16px;
}

.profile .about,
.profile .specializations,
.profile .details {
	margin-bottom: 64px;
}

.profile .details .button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

/* Info For Counsellors pages */
.counsellors-page-title-back{
	top:40px
}
@media screen and (max-width:768px) {
	.counsellors-info-item-text, .counsellors-info-item-text p {
		font-size: 16px;
	}
	.counsellors_info_image {
		margin-top: 0;
	}
	.counsellors-info-item-heading {
		font-weight: 500;
		font-size: 22px;
	}
	.counsellors-info-item{
		padding:25px
	}
	.counsellors-info-item-50 ,.counsellors-info-item-33{
		width:calc(50% - 10px);
	}
	.counsellors-info-item-70, .counsellors-info-item-30{
		width:100%
	}
	.page-template-info-for-counsellors .counsellors-info-wrapper{
		margin-bottom: 30px
	}

	.counsellors-info-full-background h2, .page-template-info-for-counsellors-registration h2 {
		font-size: 26px;
		margin-bottom: 30px
	}
	.counsellors-info-full-background{
		padding-top: 40px
	}
}
@media screen and (max-width:500px) {
	.page-template-info-for-counsellors .mid-container{
		display: flex;
	}
	.counsellors-info-item-50 ,.counsellors-info-item-33{
		width:100%;
	}
	.counsellors-info-item{
		margin-bottom: 20px
	}
	.page-template-info-for-counsellors .counsellors_info_image{
		height:200px;
		padding: 0 10px
	}
}
/* END Info For Counsellors pages */