/*General*/

.hero-image img {
	max-width: 100%;
}

.page-title {
	font-size: 28px;
}

.text-block-800 p {
	font-size: 16px;
	line-height: 24px;
}

.gray-table {
	padding: 35px 30px;
	width: 90%;
}

.gray-table h4 {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

.book-block {
	height: 250px;
}

.book-block h4 {
	font-size: 24px;
}

.book-block .cta-button {
	padding: 14px 20px;
}

.google-map {
	height: 250px;
}

/*HEADER*/

.header-controls, .header-menu .menu-menu1-container {
	display: none!important;
}

.header-mobile-controls {
	display: flex!important;
	justify-content: center;
}

.header-container {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 15;
}

.header-menu {
	margin-top: 88px;
}

.header-menu.home-header {
	margin-top: 0;
}

.home-header .header-controls a:first-child {
	color: #fff;
}

.home-top-banner {
	margin-top: 82px;
}

@media screen and (max-width: 470px) {
	.header-mobile-controls a:first-child {
		display: none;
	}
}

.mobile-menu {
	display: flex!important;
}

.toggle {
  width: 37px;
  cursor: pointer;
  position: relative;
}

.toggle-inner {
  background: #AAB2BD;
  width: 37px;
  height: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle.active .toggle-inner {
	transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
}

.toggle-inner:before, .toggle-inner:after {
	position: absolute;
	width: 37px;
	height: 5px;
	background: #AAB2BD;
	display: block;
	content: "";
}

.toggle-inner:before {
	top: -10px;
	transition: top 75ms ease .12s,opacity 75ms ease;
}

.toggle.active .toggle-inner:before {
	top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0;
}

.toggle-inner:after {
	bottom: -10px;
	transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.toggle.active .toggle-inner:after {
	bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
}

.mobile-menu-container {
	position: absolute;
	right: -15px;
	top: 73px;
	z-index: 15;
	background-color: #fff;
	padding: 0;
	overflow: hidden;
}

#menu-menu1 {
	display: block;
	min-width: 370px;
    text-align: right;
    margin-bottom: 0;
}

#menu-menu1 li {
	list-style-type: none;
	margin: 0;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 0;
}

#menu-menu1 li a {
	color: #AAB2BD;
	padding-right: 20px;
}

#menu-menu1 li a:hover {
	text-decoration: none;
}

#menu-menu1 .sub-menu {
	background: #AAB2BD;
}

#menu-menu1 .sub-menu li {
	margin: 0;
	padding-left: 0;
	padding-right: 8px;
}

#menu-menu1 .sub-menu li a {
	color: #fff;
}

#menu-menu1 .menu-item-type-custom, #menu-item-187 {
	background: #fff;
}

#menu-menu1 .menu-item-type-custom .sub-menu {
	display: none;
	margin-top: 10px;
}

#menu-menu1 .menu-item-has-children a:first-child:after {
	content: '+';
	margin-left: 5px;
}

#menu-menu1 .menu-item-has-children.active a:first-child:after {
	content: '-';
}

#menu-menu1 .menu-item-has-children .sub-menu a:after {
	content: none!important;
}

/*PAGE home*/

.home-top-banner {
	height: auto;
	padding-bottom: 30px;
}

#wpcf7-f18-o1 .wpcf7-form p:nth-child(2) label, #wpcf7-f18-o1 .wpcf7-form p:nth-child(3) label {
	display: block;
}

.banner-content h1 {
	font-size: 20px;
}

.banner-content .second-heading {
	font-size: 14px;
	line-height: 20px;
}

#wpcf7-f18-o1 input, #wpcf7-f18-o1 select {
	width: 100%;
}

#wpcf7-f18-o1 .wpcf7-form p:nth-child(2) label span:first-child input,
#wpcf7-f18-o1 .wpcf7-form p:nth-child(3) label span:first-child input {
	margin-bottom: 20px;
}

.form-addition-action {
	padding: 0 15px;
}

.features-container {
	text-align: center;
	padding: 0 15px;
}

@media screen and (max-width: 500px) {
	.single-service-container {
		width: 80%;
	}
}

.features-container .single-feature {
	width: calc(100% - 30px);
	margin-right: 0;
}

.features-booking {
	margin-top: 40px;
}

.features-booking .cta-button {
	padding: 14px 10px;
}

.boxes {
	padding: 30px 0;
}

.top-boxes, .bottom-boxes {
	display: block!important;
	margin-bottom: 0;
}

.single-box {
	width: 100%;
	max-width: 475px;
	margin: auto auto 20px;
}

.information .mid-container {
	flex-flow: column;
}

.information .text {
	margin-right: 0;
	padding: 0 15px;
	margin-bottom: 60px;
}

.information .link {
	text-align: center;
}

.testimonials {
	padding: 30px 0;
}

.testimonials h3 {
	margin-bottom: 30px;
}

.single-testimonial {
	padding: 25px;
}

.single-testimonial p {
	font-size: 16px;
	line-height: 24px;
}

.review-button {
	margin-top: 30px;
}

.review-button .cta-button span {
	display: none;
}

.review-button .cta-button {
	padding: 14px 10px;
	font-size: 13px;
	line-height: 13px;
}

/*PAGE about us*/

.about-content-first {
	margin-top: 40px;
}

.single-about-text {
	display: block!important;
}

.about-heading h4 {
	text-align: center;
	margin-bottom: 30px;
}

.about-heading img {
	display: none;
}

.principles {
	margin: 40px 0;
}

.single-principle {
	width: 50%;
}

.principles-button .cta-button {
	padding: 14px 60px;
}

@media screen and (max-width: 500px) {
	.principles h4 {
		font-size: 20px;
		line-height: 24px;
	}
	.single-principle {
		width: 100%;
		margin-bottom: 15px;
	}
	.single-principle h6 {
		text-align: center;
	}
	.principle-text {
		text-align: center;
	}
}

.timeline {
	display: block!important;
}

.timeline .left-part h4 {
	padding: 0 15px;
	text-align: center;
	margin: 30px 0;
}

@media screen and (max-width: 500px) {
	.timeline-container {
		padding-left: 60px;
	}
	.single-timeline-container:before {
		left: 7px;
	}
	.single-timeline-container:after {
		left: 13px;
	}
	.timeline {
		margin-bottom: 0;
	}
	.single-timeline-content:before {
		left: -40px;
	}
	.timeline-container:after {
		left: 70px;
	}
}

/*PAGE staff*/

.staff-booking .cta-button {
	padding: 14px 60px;
}

@media screen and (max-width: 500px) {
	.single-member {
		width: 100%;
	}
}

/*PAGE recovery and reintegration*/

.recovery-booking {
	margin-top: 40px;
}

.recovery-booking .cta-button {
	padding: 14px 60px;
}

/*PAGE 12 week*/

.twelve-week-text h4 {
	font-size: 20px;
	line-height: 28px;
} 

.twelve-week-booking .cta-button {
	padding: 14px 10px;
}

@media screen and (max-width: 500px) {
	.keys-container {
		display: block!important;
	}

	.left-keys, .right-keys {
		width: 100%;
	}

	.keys-container p {
		text-align: center;
		font-size: 16px;
	}
}

/*PAGE 24 hour*/

.owl-carousel .owl-item img {
	height: 250px;
	object-fit: cover;
}

.twentyfour-hour-booking .cta-button {
	padding: 14px 60px;
}

.twentyfour-table h4 {
	font-size: 30px;
	margin-bottom: 20px;
}

.twentyfour-table h6 {
	font-size: 20px;
	line-height: 30px;
}

.twentyfour-table p {
	font-size: 14px;
}

.twentyfour-community {
	margin-bottom: 0;
}

@media screen and (max-width: 500px) {
	.single-table-feature {
		width: 100%;
	}
	.single-table-feature h6 {
		text-align: center;
	}
	.twentyfour-table li {
		width: 100%;
		text-align: center;
	}
}

/*PAGE stepdown*/

.stepdown-text p {
	font-size: 20px;
	line-height: 30px;
}

.stepdown-table {
	margin-bottom: 30px;
}

/*PAGE outreach*/ 

.single-outreach-event {
	display: block!important;
}

.single-outreach-event .left-part {
	width: 100%;
	border: none;
	padding: 20px 20px 0;
}

.single-outreach-event .right-part {
	width: 100%;
	text-align: center;
}

.outreach-event-heading {
	justify-content: center!important;
}

.outreach-events-contact .cta-button {
	padding: 14px 60px;
}

.outreach-events h4 {
	font-size: 30px;
}

.outreach-individual-table {
	flex-flow: column;
}

.outreach-individual-table .single-day {
	display: flex;
	width: 100%;
}

.single-day .single-individual-event span {
	font-size: 12px;
}

.single-day .single-individual-event:first-child span {
	font-size: 14px;
}

.outreach-individual-table .single-day:nth-child(1) .single-individual-event span {
	font-size: 14px;
}

@media screen and (max-width: 500px) {
	.outreach-events h4 {
		font-size: 24px;
	}
	.outreach-events-contact .cta-button {
		padding: 14px 10px;
	}
	.outreach-events .small-container {
		padding: 0 5px;
	}
	.single-day .single-individual-event span {
		font-size: 10px;
	}

	.single-day .single-individual-event:first-child span {
		font-size: 12px;
	}

	.outreach-individual-table .single-day:nth-child(1) .single-individual-event span {
		font-size: 12px;
	}
}

/*PAGE community support*/

.support-booking .cta-button {
	padding: 14px 10px;
}

/*PAGE events*/

.upcoming-events h4 {
	font-size: 30px;
}

@media screen and (max-width: 500px) {
	.single-event {
		display: block!important;
	}
	.single-event .event-date,
	.single-event .event-name,
	.single-event .event-details {
		width: 100%;
		border: none;
	}
	.single-event .event-date {
		padding: 20px 20px 0;
	}
	.single-event .event-name {
		padding: 0 20px;
	}
}

/*PAGE contact us*/

.contact-form-container {
	max-width: 460px;
	width: 100%;
}

.wpcf7-form label,
.wpcf7-form input,
.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input[type="submit"] {
	width: 100%;
}

@media screen and (max-width: 500px) {
	.contact-form-container {
		padding: 25px 15px;
	}
	.form-wrapper {
		padding: 30px 0;
	}
	.contact-info, .social-wrapper {
		margin-top: 30px;
	}
	#wpcf7-f189-o1 .wpcf7-form p:nth-child(6) input {
		padding-left: 66%;
	}
}

@media screen and (max-width: 460px) {
	#wpcf7-f189-o1 .wpcf7-form p:nth-child(6) input {
		padding-left: 63%;
	}
}

@media screen and (max-width: 430px) {
	#wpcf7-f189-o1 .wpcf7-form p:nth-child(6) input {
		padding-left: 58%;
	}
}

@media screen and (max-width: 385px) {
	#wpcf7-f189-o1 .wpcf7-form p:nth-child(6) input {
		padding-left: 53%;
	}
}

@media screen and (max-width: 360px) {
	#wpcf7-f189-o1 .wpcf7-form p:nth-child(6) input {
		padding-left: 47%;
	}
}

/*FOOTER*/

.footer-menu {
	display: none;
}

.footer-info {
	text-align: center;
	justify-content: center;
}

.footer-controls {
	align-items: center;
	flex-flow: column;
}

.footer-contact {
	margin: 0;
}

@media screen and (max-width: 400px) {
	.footer-bottom {
		flex-flow: column;
		padding: 15px 0;
	}
	.footer-social {
		order: 1;
		margin-bottom: 20px;
		text-align: center;
	}
	.copyrights {
		order: 2;
	}
}

@media screen and (max-width: 364px) {
	.footer-controls .buttons {
		justify-content: center!important;
	}
}