.page-template-eligibility h1{
    display:none
}

.eligibility-tabs, .eligibility-title-text{
    width:100%;
    max-width:730px;
    margin:auto;
}

.eligibility-title-text{
    margin-bottom: 104px
}

.eligibility-tabs, .eligibility-title-text .eligibility-subtitle, .eligibility-title-text .eligibility-subtitle p{
    font-size:18px;
    line-height:24px;
    color:#333;
}

.eligibility-title{
    font-size:32px;
    line-height:39px;
    font-family: InterSemiBold, sans-serif;
    margin-bottom:48px
}

.eligibility-tabs{
    margin-top:80px;
}

.eligibility-tabs .tab{
    color: #C4C4C4;
    cursor: pointer;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 3px solid #F4F4F5;
    text-align: center;
    font-family: 'InterSemibold', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.eligibility-tabs .tab.active {
    color: #5AB9AC;
    border-color: #5AB9AC;
}

.eligibility-tab-content{
    transition: all 1s;
    opacity: 0;
    display:none;
}

.eligibility-tab-content.active{
    opacity: 1;
    display:block
}

@media screen and (max-width:767px) {
    .eligibility-title{
        font-size:26px
    }
    .eligibility-tabs{
        margin-top:0
    }
    .eligibility-title-text .eligibility-subtitle{
        font-size:16px
    }
    .eligibility-title-text{
        margin-bottom:48px
    }
}



/*Items*/
.eligibility-info-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:90px
}

.eligibility-info-item{
    background: #FFFFFF;
    border: 1px solid #F4F4F5;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    margin-bottom: 30px;
    padding:24px;
    display: flex;
    align-items: center
}

.eligibility-info-item-text{
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    color: #656D78;
}

.eligibility-info-item-text a, .eligibility-info-item-text a:hover{
    text-decoration: none;
    color: #5AB9AC;
    font-weight:bold
}

.eligibility-info-item-text p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px
}

.eligibility-info-item.eligibility-info-item-33{
    display:block
}

.eligibility-info-item.eligibility-info-item-33 .eligibility-info-item-number{
    margin-bottom: 24px;
}

.eligibility-info-item-text{
    margin-top:0
}

.eligibility-info-item-number{
    margin-right:24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: #E5EEEE;
    border-radius: 50%;
    color: #5AB9AC;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    flex: 0 0 auto;
}

.eligibility-info-item-100{
    width:100%
}

.eligibility-info-item-100 img{
    width:100%;
    height:auto;
}

.eligibility-info-item-50{
    width:calc(50% - 15px);
}

.eligibility-info-item-33{
    width:calc(33% - 15px)
}


@media screen and (max-width:1200px) {
    .page-template-info-for-eligibility .eligibility-info-wrapper{
        padding: 0 10px;
    }
}

@media screen and (max-width:767px) {
    .eligibility-info-item-50, .eligibility-info-item-33 {
        width: 100%;
    }
    .eligibility-subtitle, .eligibility-subtitle p, .eligibility-info-item-text, .eligibility-info-item-text p{
        font-size: 16px
    }
    .eligibility-info-item{
        padding:24px 16px
    }
    .eligibility-info-item-number{
        margin-right:16px
    }
}


/*End Items*/